/*** IDs ***/
#offerings-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pricing {
  background: #00C851;
  background-color: #00C851;
  color: #fff;
}

#pricing .wrapper {
  display: flex;
  color: #222;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pricing .wrapper .bg-white {
  padding-left: 2em;
  padding-right: 2em;
}

/*** Classes ***/
.fa-clipboard-list, .fa-dumbbell, .fa-users { font-size: 6em; }

.hr-black {
  border: 1px solid #000;
  width: 15%;
}

.price-heading { 
  background: #424242; 
  background-color: #424242; 
  color: #fff;
  padding-left: 4em;
  padding-right: 4em;
}

.text-center {
  text-align: center;
}

/*** Elements ***/
html {
  scroll-behavior: smooth !important;
}

body main {
  font-family: 'Arimo', Arial, sans-serif;
}