/*** Imports ***/
@import url('https://fonts.googleapis.com/css?family=Arimo|Teko&display=swap');

/*** IDs ***/
#globe {
  color: #00FFFF;
  display: flex;
  align-self: center;
  margin: auto 0.5em;
  font-size: 1.5em;
}

/*** Classes ***/
.btn {
  margin: 1em 1.5em !important;
}
.heading-text {
  font-family: 'Teko', Arial, Helvetica, sans-serif;
  font-size: 56px; 
  line-height: 125%;
}

/*** Utilities ***/
.bg-white { background: #fff; background-color: #fff; }

.text-green { color: #00FF00; }

.text-white { color: #fff;  }

/*** Elements ***/
header {
  background: #292929;
}

header nav {
  display: flex;
  justify-content: space-around;
}

.left-nav, .right-nav {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}


/*** Media Queries ***/
@media only screen and (max-width: 800px)
{

  header nav {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
