  @media only screen and (min-width: 1px) and (max-width: 320px) {
    /*General Elements*/
    footer>p, footer+h1 {
      display: none;
      visibility: hidden;
    }

    footer .social-media {
      display: none;
      visibility: hidden;
    }

    header nav {
      height: 5em;
    }

    header nav button {
      position: relative;
      left: 10%;
      top: 1em;
    }

    header nav h1, #globe {
      display: none;
    }

    hr {
      display: none;
    }
    /*Classes*/
    .location, h2 {
      position: relative;
      left: 0em;
      top: 0em;
    }

    .pricing div, .pricing h2 {
      display: none;
    }
    /*IDs*/
    #break-2 {
      display: none;
    }

    #caret-nav {
      right: 0.3em;
    }

    #dropdown {
      display: block;
      font-size: 0.5em;
      left: 15%;
      position: relative;
      top: 0em;
      width: 60%;
    }

    #img-caption, #img-slide {
      display: none;
    }

    #text-header {
      position: relative;
      top: 3.5em;
    }


  }

  @media only screen and (min-width: 321px) and (max-width: 479px) {
    /*General Elements*/
    footer>p, footer+h1 {
      display: none;
      visibility: hidden;
    }

    footer .social-media {
      display: none;
      visibility: hidden;
    }

    header nav {
      height: 5em;
    }

    header nav button {
      position: relative;
      left: 16.5%;
      top: 1em;
    }

    header nav h1, #globe {
      display: none;
    }

    hr {
      display: none;
    }
    /*Classes*/
    .location, h2 {
      position: relative;
      left: 0em;
      top: 0em;
    }

    .pricing div, .pricing h2 {
      display: none;
    }
    /*IDs*/
    #break-2 {
      display: none;
    }

    #caret-nav {
      right: 0.3em;
    }

    #dropdown {
      display: block;
      font-size: 0.5em;
      left: 15%;
      position: relative;
      top: 0em;
      width: 60%;
    }

    #img-caption, #img-slide {
      display: none;
    }

    #text-header {
      position: relative;
      top: 3.5em;
    }

  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /*General Elements*/
    footer>p, footer+h1 {
      display: none;
      visibility: hidden;
    }

    footer .social-media {
      display: none;
      visibility: hidden;
    }

    header nav {
      height: 5em;
    }

    header nav button {
      position: relative;
      left: 9em;
      top: 1em;
    }

    header nav h1, #globe {
      display: none;
    }

    hr {
      display: none;
    }
    /*Classes*/
    .location, h2 {
      position: relative;
      left: 0em;
      top: 0em;
    }

    .pricing div, .pricing h2 {
      display: none;
    }
    /*IDs*/
    #break-2 {
      display: none;
    }

    #caret-nav {
      right: 0.3em;
    }

    #dropdown {
      display: block;
      font-size: 0.5em;
      left: 10em;
      position: relative;
      top: 0em;
      width: 60%;
    }

    #img-caption, #img-slide {
     display: none;
    }

    #text-header {
    position: relative;
    top: 3.5em;
    }

  }

  @media only screen and (min-width:  768px) and (max-width: 877px) {
    /*General Elements*/
    footer>p, footer+h1 {
      display: none;
      visibility: hidden;
    }

    footer .social-media {
      display: none;
      visibility: hidden;
    }
    header nav {
      height: 5em;
    }

    header nav h1, #globe {
      display: none;
    }

    hr {
      display: none;
    }

    /*Classes*/
    .location, h2 {
      position: relative;
      left: 0em;
      top: 0em;
    }

    .pricing h2 {
      position: relative;
      top: 0em;
    }
    /*IDs*/
    #about {
      left: 12.4em;
      position: relative;
      top: -2em;
    }

    #all-out {
      position: relative;
      left: -2em;
      top: -7em;
    }

    #basic {
      position: relative;
      left: -15em;
      top: 0em;
    }

    #break-2 {
      display: none;
    }

    #caret-nav {
      right: 0.3em;
    }

    #dropdown {
      display: block;
      font-size: 0.5em;
      left: 17em;
      position: relative;
      top: 0em;
      width: 60%;
    }

    #gym {
      position: relative;
      left: 2.5em;
    }

    #home, #memberships, #about {
      width: 50%;
    }

    #home {
      left: 12.5em;
      position: relative;
      top: 0em;
    }

    #img-caption, #img-slide {
      display: none;
    }

    #memberships {
      left: 12.4em;
      position: relative;
      top: -1em;
    }

    #personal-plan {
      left: 17em;
      position: relative;
      top: -16em;
    }

    #professional {
      position: relative;
      left: 10em;
      top: -9em;
    }

    #services {
      position: relative;
      top: 3em;
    }

    #services i {
      font-size: 5em;
    }

    #text-header {
      position: relative;
      top: 3.5em;
    }

    #trainors {
      position: relative;
      left: -15em;
      top: -1em;
    }

  }

  @media only screen and (min-width:  878px) and (max-width: 959px) {
    /*General Elements*/
    footer>p, footer+h1 {
      display: none;
      visibility: hidden;
    }

    footer .social-media {
      display: none;
      visibility: hidden;
    }

    header nav {
      height: 5em;
    }

    header nav h1, #globe {
      display: none;
    }

    hr {
      display: none;
    }
    /*Classes*/
    .location, h2 {
      position: relative;
      left: 0.5em;
      top: 0em;
    }

    .pricing h2 {
      position: relative;
      top: 0em;
    }
    /*IDs*/
    #about {
      left: 12.4em;
      position: relative;
      top: -2em;
    }

    #all-out {
      position: relative;
      left: 3em;
      top: -7em;
    }

    #basic {
      position: relative;
      left: -10em;
      top: 0em;
    }

    #break-2 {
      display: none;
    }

    #caret-nav {
      right: 0.3em;
    }

    #dropdown {
      display: block;
      font-size: 0.5em;
      left: 17em;
      position: relative;
      top: 0em;
      width: 60%;
    }

    #gym {
      position: relative;
      left: 2.5em;
    }

    #home, #memberships, #about {
      width: 50%;
    }

    #home {
      left: 12.5em;
      position: relative;
      top: 0em;
    }

    #img-caption, #img-slide {
      display: none;
    }

    #memberships {
      left: 12.4em;
      position: relative;
      top: -1em;
    }

    #personal-plan {
      left: 17em;
      position: relative;
      top: -16em;
    }

    #professional {
      position: relative;
      left: 15em;
      top: -9em;
    }

    #services {
      position: relative;
      top: 3em;
    }

    #services i {
      font-size: 5em;
    }

    #text-header {
      position: relative;
      top: 3.5em;
    }

    #trainors {
      position: relative;
      left: -15em;
      top: -1em;
    }

  }

  @media only screen and (min-width:  960px) and (max-width: 1000px) {
    /*General Elements*/
    footer>p, footer+h1 {
      display: none;
      visibility: hidden;
    }

    footer .social-media {
      display: none;
      visibility: hidden;
    }

    header nav {
      height: 5em;
    }

    header nav h1, #globe {
      display: none;
    }

    hr {
      display: none;
    }
    /*Classes*/
    .location, h2 {
      position: relative;
      left: 0.5em;
      top: 0em;
    }

    .pricing h2 {
      position: relative;
      top: 0em;
    }
    /*IDs*/
    #about {
      left: 12.4em;
      position: relative;
      top: -2em;
    }

    #all-out {
      position: relative;
      left: 8em;
      top: -7em;
    }

    #basic {
      position: relative;
      left: -5em;
      top: 0em;
    }

    #break-2 {
      display: none;
    }

    #caret-nav {
      right: 0.3em;
    }

    #dropdown {
      display: block;
      font-size: 0.5em;
      left: 17em;
      position: relative;
      top: 0em;
      width: 60%;
    }

    #gym {
      position: relative;
      left: 2.5em;
    }

    #home, #memberships, #about {
      width: 50%;
    }

    #home {
      left: 12.5em;
      position: relative;
      top: 0em;
    }

    #img-caption, #img-slide {
      display: none;
    }

    #memberships {
      left: 12.4em;
      position: relative;
      top: -1em;
    }

    #personal-plan {
      left: 17em;
      position: relative;
      top: -16em;
    }

    #professional {
      position: relative;
      left: 20em;
      top: -9em;
    }

    #services {
      position: relative;
      top: 3em;
    }

    #services i {
      font-size: 5em;
    }

    #text-header {
      position: relative;
      top: 3.5em;
    }

    #trainors {
      position: relative;
      left: -15em;
      top: -1em;
    }

  }

  @media only screen and (width: 1024px) {

    /*General Elements*/
    footer p, footer+h1, .social-media  {
      left: 3%;
      position: relative;
    }

    nav button {
      left: 35%;
      position: relative;
      width: 15% !important;
    }

    /*Classes*/
    .location {
      right: -65%;
      position: relative;
    }

    .location+h2 {
      right: -35%;
      position: relative;
    }

    .location p {
      left: 7%;
    }

    /*IDs*/
    #all-out {
      left: 40%;
      position: relative;
    }

    #basic {
      left: -20%;
      position: relative;
    }

    #chev-left {
      left: 0%;
      position: relative;
    }

    #chev-right {
      right: -92.5%;
      position: relative;
    }

    #professional {
      left: 10%;
      position: relative;
    }

  }
